#portfolioBackground{
      background-color: #ff0000;
}

#customParam > div > ul > li > a {
	color: white;
}

#customParam > div > div.tab-content {
	color: white;
}

#queryCustom1, #queryCustom2, #queryCustom5 {
	margin-top: 20px;
}

.custom-button {
	border: 1px solid #18BC9C;
}