#portfolioBackground{
      background-color: #ff0000;
}

#custom > div > ul > li > a {
	color: white;
}

#custom > div > div.tab-content {
	color: white;
}

#queryCustom1, #queryCustom2, #queryCustom5 {
	margin-top: 20px;
}